# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual env
venv/
.venv/
.env
.env.*
!.env.example

# Flask
instance/

# SQLite
*.db
*.sqlite3

# VS Code
.vscode/

# Logs
*.log

# Archivos generados
recibos/
*.zip
*.xlsx
!requirements*.txt

# Sistema
.DS_Store
Thumbs.db
